<form class="row g-7" #userForm ="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="email" name="email" class="form-control" id="staticEmail2" placeholder="email@example.com" [(ngModel)]="this.user.email" #emailId [ngClass]="{ 'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid}" email required>
    <div *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid" class="invalid-feedback">
      <div *ngIf="emailId.errors.required">Email is required</div>
      <div *ngIf="emailId.errors.email">The email is incorrect</div>
    </div>
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password" [(ngModel)]="this.user.password" #passwordId
    [ngClass]="{'is-invalid': (passwordId.dirty || passwordId.touched) && passwordId.invalid}" minlength="8" required>
    <div *ngIf="(passwordId.dirty || passwordId.touched) && passwordId.invalid" class="invalid-feedback">
      <div *ngIf="passwordId.errors.required">Password is required</div>
      <div *ngIf="passwordId.errors.minlength">Password min 8 characteres</div>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" [disabled]="userForm.invalid">Confirm identity</button>
  </div>
</form>
