<div class="backgroundPage">
  <div class="containerForm">
    <div class="container">
      <div class="card">
        <input accept="image/png, image/jpeg" name="avatar" type="file">
        <img width="120" style="border-radius: 800px;" src="{{userData.photo}}" alt="">
      </div>
      <div class="info">

        <h2>{{userData.name}}  {{userData.last_name}}</h2>
      </div>
      <div class="formUser">
        <form class="form1">
          <label for="">Nombre:</label>
          <input type="text" value="{{userData.name}}"/>
          <label for="">Apellido:</label>
          <input type="text" [value]="userData.last_name"/>
          <label for="">Email:</label>
          <input type="email" value="{{userData.email}}">

        </form>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <input accept="image/png, image/jpeg" name="avatar" type="file">
      </div>
      <div class="info">
        <h2>Modified profile:</h2>
        <hr>
      </div>
      <div class="formUser2">
        <form class="form1">
          <label for="">Nombre:</label>
          <input type="text" #input1>
          <label for="">Apellido:</label>
          <input type="text" #input2>
          <label for="">Email:</label>
          <input type="email" #input3>
          <label for="">Url:</label>
          <input type="url" #input4>
          <button type="button" on-click="enviar(input1.value,input2.value,input3.value,input4.value)" >Modify</button>
        </form>
      </div>
    </div>
  </div>
</div>

