<div class="backgroundPage">
  <div class="multipleCards">
    <div id='search-box'>
      <form action='/search' id='search-form'>
      <input #searchBar id='search-text' name='q' placeholder='What are you looking for?' type='text'/>
      <button id='search-button' type='button'(click)= "searchBook(searchBar.value)"><span>Search</span></button>
      </form>
      </div>
    <div class="showBooks">
      <ng-container *ngIf="books.length === 0; else showBooks">
        <p class="ngIf"> No books available.</p>
      </ng-container>
    </div>
    <ng-template #showBooks>
      <ng-container *ngFor="let book of books; let par = even">
        <app-card [cardBook]="book" [par]="par" (deletedCard)="recogerCard($event)"></app-card>
      </ng-container>
    </ng-template>
  </div>
  <!-- <div class="formContainer">
    <div class="form-style-10">
      <h1>Add your books<span>Write down your books to add them to the library</span></h1>
      <form>
        <div class="section"></div>
        <div class="inner-wrap">
          <label>Title <input type="text" #input1></label>
          <label>Type of cover <input type="text" #input2></label>
        </div>

        <div class="section"></div>
        <div class="inner-wrap">
          <label>Author <input type="text" #input3></label>
          <label>Price <input type="text" #input4></label>
        </div>


        <div class="inner-wrap">
          <label>Photo <input type="text" #input5></label>
          <label>Id user <input type="text" #input6></label>
          <label>Id book <input type="text" #input7></label>
        </div>
        <div class="button-section">
          <button type="button"
            on-click="send(input1.value, input2.value, input3.value, input4.value, input5.value, input7.value)">Send</button>
        </div>
      </form>
    </div>
  </div> -->
</div>
