
<div class="backgroundForm">
  <div class="form-style-10">
  <h1>Sign Up Now!<span>Sign up and tell us what you think of the site!</span></h1>
  <form>
      <div class="section"></div>
      <div class="inner-wrap">
          <label>Your Name <input type="text" name="field1" /></label>
          <label>Last Name <textarea name="field2"></textarea></label>
      </div>

      <div class="section"></div>
      <div class="inner-wrap">
          <label>Email Address <input type="email" name="field3" /></label>
          <label>Url <input type="url" name="field4" /></label>
      </div>


          <div class="inner-wrap">
          <label>Password <input type="password" name="field5" /></label>
          <label>Confirm Password <input type="password" name="field6" /></label>
      </div>
      <div class="button-section">
      <input type="submit" name="Sign Up"/>
      </div>
  </form>
  </div>
</div>
